*{
    margin: 0 auto;
    padding: 0 auto;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1fab89;
    padding: 20px;
    font-size: 20px;
    color: white;
    
}
.navbar a{
    text-decoration: none;
    color: inherit;
}

.water-logo{
    width: 150px;
    display: inline;
    margin-left: 15px;
    position: absolute;
    left: 10px;
    top: 10px;

}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
}


.imsdalwater-bottel {
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.imsdalwater-bottel:hover{
    height: 414px;
    box-shadow: 0 0 50px;
}